<mat-toolbar color="primary">
    <span>
        <a mat-button routerLinkActive="Active" routerLink="">
            <mat-icon>fact_check</mat-icon>PWA-1001
        </a>
    </span>
    <div>
        <a mat-button routerLinkActive="Active" routerLink="/Operasbas">
            OperasBas
        </a>
    </div>
    <div>
        <a mat-button routerLinkActive="Active" routerLink="/Multiplicacion">
            Multiplicacion A*B
        </a>
    </div>
    <div>
        <a mat-button routerLinkActive="Active" routerLink="/Cinepolis">
            Cinépolis
        </a>
    </div>
    <div>
        <a mat-button routerLinkActive="Active" routerLink="/Examen">
            Examen
        </a>
    </div>
</mat-toolbar>